@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  border: none;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

html{
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #e4e1dc;
}

::-webkit-scrollbar-thumb{
  background-color: #cecece;
}

header{
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #272424;
  box-shadow: 0 3px 3px 0 rgb(39 36 36 / 30%);
}

.container{
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
}

header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#menu-toggler{
  display: none;
  width: 30px;
  position: relative;
  cursor: pointer;
  z-index: 999;
  background-color: transparent;
}

#menu-toggler span{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

#menu-toggler span:first-child{
  margin-top: 0;
}

#menu-toggler span:last-child{
  margin-bottom: 0;
}

#menu-toggler.active span:nth-child(1){
  transform: rotate(-45deg);
  top: 4px;
}

#menu-toggler.active span:nth-child(2){
  opacity: 0;
}

#menu-toggler.active span:nth-child(3){
  transform: rotate(45deg);
  bottom: 14px;
}

#logo{
  z-index: 999;
}

#logo::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  height: 36px;
  width: 2px;
  background-color: #fff;
}

#logo > img{
  width: 150px;
}

#menu > ul{
  display: flex;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

#menu li{
  margin: 0 8px;
  color: #fff;
  transition: .2s linear;
  padding: 12px;
  cursor: pointer;
}

#menu li:first-child{
  margin-left: 0;
}

#menu li:last-child{
  margin-right: 0;
}

#menu a{
  color: inherit;
}

#menu li:hover,
#menu li.active{
  color: #71fff8;
  transform: rotate(-8deg) scale(1.075);
}

main{
  transform: translateY(60px);
}

#home > .container{
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 60px);
}

#home{
  min-height: calc(100% - 60px);
}

.landing-image{
  max-width: 550px;
  height: calc(100vh - 60px);
  margin: auto;
}

.aside{
  padding-top: 80px;
  font-weight: 500;
  font-size: 17.5px;
}

form {
  margin: 50px 0;
  background-color: #7b9b8e34;
  border-radius: 8px;
  padding: 14px 18px; 
  max-width: 460px;
}

p, span{
  text-align: justify;
  color: #272424;
}

form p{
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 18px;
}

form > input{
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  padding: 7px 10px;
  background-color: #ffffff9c;
}

form .btn-wrapper{
  width: 100%;
  text-align: right;
}

form button{
  font-size: 18px;  
  line-height: 1.1;
  font-weight: 600;
  padding: 7px 45px;
  border-radius: 6px;
  background-color: #272424;
  color: #fff;
  margin-top: 18px;
  cursor: pointer;
  transition: .22s linear;
}

form button:hover{
  background-color: #4e4c4c;
}

.checkbox{
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
}

.checkbox > input{
  cursor: pointer;
}

.checkbox label{
  color: #272424;
  padding-left: 4px;
}

.items{
  display: flex;
  justify-content: center;
  transform: translateY(20px);
}

.items-list{
  columns: 2;
  column-gap: 25px;
}

.items-list li{
  text-align: center;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.items-list li[data-label]::after{
  content: attr(data-label);
  position: absolute;
  top: 20px;
  right: -10px;
  padding: 12px;
  border-radius: 50%;
  background-color: #f58989;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.items-list li > .description{
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items-list img{
  width: 410px;
  max-width: 100%;
  height: auto;
  position: relative;
}

@media screen and (max-width: 991.98px){
  #menu-toggler{
    display: block;
  }
  #menu{
    background-color: #272424;
    padding: 60px;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .25s linear;
  }
  #menu.active{
    bottom: 0;
  }
  #menu ul{
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 25px;
  }
  #menu li{
    padding: 8px 15px;
    margin: 4px auto !important;
  }
  .items-list{
    columns: 1;
  }
}

@media screen and (max-width: 899.98px){
  main > .container{
    flex-direction: column-reverse;
  }
  .landing-image{
    max-width: 500px;
    margin-bottom: 30px;
  }
  .aside{
    padding: 0;
  }
  form{
    margin: 30px auto;
  }
}

@media screen and (max-width: 551.98px){
  .landing-image{
    max-width: 100%;
  }
}